<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>keyword_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,118}</string>
                <key>spriteSourceSize</key>
                <string>{114,118}</string>
                <key>textureRect</key>
                <string>{{0,114},{114,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{0,232},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{0,346},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{0,460},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{0,574},{114,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{0,687},{114,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyword_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{0,792},{114,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>keyword.png</string>
            <key>size</key>
            <string>{114,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c878e846eec1df164a46599f46ae38b:e68e4d6064df54ee5a7bf2a943149641:fe52d7b15c5a96f1eece325a64441ebb$</string>
            <key>textureFileName</key>
            <string>keyword.png</string>
        </dict>
    </dict>
</plist>
