<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dazhan1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dazhan1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{25,0},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dazhan1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{0,23},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dazhan1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{30,23},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dazhan1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{0,54},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dazhan1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{25,54},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beans.png</string>
            <key>size</key>
            <string>{63,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:523ad51a05e272983927bbec7bc69afa:73c9babec6a413ba1fbc81c7cddb3b4c:1f92cc8b2e4a8ddc65e3d3bb3e00c57b$</string>
            <key>textureFileName</key>
            <string>beans.png</string>
        </dict>
    </dict>
</plist>
